# Ignoramos carpeta profesores de raíz
/IAG344Profesores 

#Ignoramos el entorno virtual
Mision1/Proyect01/env3.13.1/

# Entorno virtual Mision2
C:/IA344/Personal/Mision2/venv3.13.1

#Entorno virtual Mision3
C:/IA344/Personal/Mision3/venv3.13.1
